# LIBRARIES

In [ ]:
import pandas as pd

# DATA AND FILEPATH

In [ ]:
# Add the file path where the data is located
file_path = 'https://raw.githubusercontent.com/fabzy4L/DATA_ANALYTICS/main/EPIDEMIOLOGY_COV19_SHINY/outbreak.csv'

In [10]:
# Load the data into a DataFrame
df = pd.read_csv(file_path)
df

,Region,Cases,Deaths,Recovered,Active,Longitude,Latitude,Date
0,Afghanistan,36263.0,1269.0,25198.0,9796.0,67.709953,33.939110,NaN
1,Albania,4880.0,144.0,2745.0,1991.0,20.168331,41.153332,NaN
2,Algeria,27973.0,1163.0,18837.0,7973.0,1.659626,28.033886,NaN
3,Andorra,907.0,52.0,803.0,52.0,1.601554,42.546245,NaN
4,Angola,950.0,41.0,242.0,667.0,17.873887,-11.202692,NaN
...,...,...,...,...,...,...,...,...
182,Gaza Strip,10621.0,78.0,3752.0,6791.0,34.308825,31.354676,NaN
183,Western Sahara,10.0,1.0,8.0,1.0,-12.885834,24.215527,NaN
184,Yemen,1691.0,483.0,833.0,375.0,48.516388,15.552727,NaN
185,Zambia,4552.0,140.0,2815.0,1597.0,27.849332,-13.133897,NaN
186,Zimbabwe,2704.0,36.0,542.0,2126.0,29.154857,-19.015438,NaN

# CALCULATIONS

In [ ]:
# Calculate the total number of cases
total_cases = df['Cases'].sum()

# Calculate the total number of deaths
total_deaths = df['Deaths'].sum()

# Calculate the overall case fatality rate
case_fatality_rate = (total_deaths / total_cases) * 100

# RESULTS

In [11]:
# Print the results
print('Total Cases: ', total_cases)
print('Total Deaths: ', total_deaths)
print('Case Fatality Rate: ', case_fatality_rate)

Total Cases:  16480485.0
Total Deaths:  654036.0
Case Fatality Rate:  3.968548255709708